*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #129799;
    height: 58vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    height: 9vh;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 38vw;
    /* border: solid purple; */
    list-style: none;
}
li{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #ffff;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:41vh;
    /* border: solid salmon; */
}
h2{
font-size: 55px;
font-family: "Roboto", sans-serif;
color: #ffff;
}
img{
position: relative;
top:-1vh ;
}
.secondUl{
    width: 65vw;
}
main{
    background-color: #FFA185;
    height: 145vh;
}
div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 78vw;
    height:24vh ;
}
h3{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #fff;
    width: 96%;
    height: 15vh;
}
div p{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    width: 96%;
}
.secondh2{
    font-size: 40px;
}
.secondSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}
.secondSectionImages{
    width: 40vw;
    height: 40vh;
}
.secondP{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        height: 8vh;
}
footer{
    background-color: #129799;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20vh; 
}
.sectionFooter{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 45vw;
}
.footerimages{
    width: 4vw;
    height: 4vh;
    margin: 8px;
}
.footerli{
    /*border: solid blue 2px;*/
    width: 50vw;
}